@import "tailwindcss";

@theme {
  --color-cv-50: #edf5f7;
  --color-cv-100: #dcebef;
  --color-cv-200: #b8d6e0;
  --color-cv-300: #99c4d1;
  --color-cv-400: #75b0c2;
  --color-cv-500: #529cb2;
  --color-cv-600: #407e91;
  --color-cv-700: #31606e;
  --color-cv-800: #21414a;
  --color-cv-900: #101f23;
  --color-cv-950: #080f12;
}