:root {
  color-scheme: dark;
}

html {
  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
  background-color: #1a1a1a;
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  font-variant-ligatures: none;
}
